.gigTax-buttons {
    display: flex;
    justify-content: space-evenly;
}

.gigTax-button {
    padding: 1em 3em;
    margin: 2em 0em;
    background-color: rgb(78, 78, 78);
    box-shadow: black .2em .2em .2em;
    color: white;
    font-size: large;
}