.totalsBoxes {
    display: flex;
    flex-direction: column;
    margin: 1.5em 3em;
    padding: 1em;
    background-color: rgb(78, 78, 78);
    box-shadow: black .2em .2em .2em;
}

.yearTotalBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .yearTotalBox {
    flex-basis: 28%;
    margin: 1em;
    padding: 2em;
    background-color: white;
    box-shadow: black .2em .2em .2em;
  }