.totalsBoxes {
    display: flex;
    flex-direction: column;
    margin: 3em 6em;
    padding: 1em;
    background-color: rgb(167 167 167 / 70%);
    box-shadow: black .7em .7em .7em;
}

.totalsBoxesQuarterly {
  display: flex;
  flex-direction: column;
  margin: 3em 6em;
  padding: 1em;
  background-color: rgb(167 167 167 / 70%);
  box-shadow: black .7em .7em .7em; 
}

.yearTotalBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .yearTotalBox {
    margin: 1em;
    padding: 0em 2em 2em 2em;
    /* background-color: white; */
    background-color: rgb(78, 78, 78);
    color: white;
    box-shadow: black .7em .7em .7em;
    flex-basis: 26%;
  }

  .yearTotalBox__item {
      text-align: center;
  }

  .quarterlyTotalBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }

  .quarterlyTotalBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    padding: 2em;
    background-color: rgb(78, 78, 78);
    color: white;
    box-shadow: black .7em .7em .7em;
    flex-basis: 17%;
  }
