.receipts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 31%;
  }
  
  .receipt {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    background-color: rgb(78, 78, 78);
    box-shadow: black .2em .2em .2em;
  }

  .receipts__header {
    background-color: rgb(78, 78, 78);
    box-shadow: black .2em .2em .2em;
    color: white;
  }

  .receipt__item {
      color: white;
  }

  .receiptForm {
    margin: 2em 15em 15em 15em;
    padding: 1em 5em;
    background-color: rgb(78, 78, 78);
    box-shadow: black .7em .7em .7em;
  }

  .receiptForm__title {
    color: white;
  }
