.tours {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    flex-basis: 31%;
  }
  
  .tour {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    background-color: rgb(78, 78, 78);
    box-shadow: black .2em .2em .2em;
  }

  .tours__header {
    background-color: rgb(78, 78, 78);
    box-shadow: black .2em .2em .2em;
    color: white;
  }

  .tour__item {
      color: white;
  }

  .btn {
      text-align: center;
  }