.tours {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 31%;
  }
  
  .tour {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    background-color: rgb(78, 78, 78, .9);
    box-shadow: black .2em .2em .2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tours__header {
    background-color: rgb(78, 78, 78);
    box-shadow: black .2em .2em .2em;
    color: white;
  }

  .tour__item {
      color: white;
  }

  .tourForm {
    margin: 2em 15em 15em 15em;
    padding: 1em 5em;
    background-color: rgb(78, 78, 78, .9);
    box-shadow: black .7em .7em .7em;
  }

  .tourForm__title {
    color: white;
  }

  .btn {
      text-align: center;
      margin: 1em;
      padding: 1em 3em;
      box-shadow: black 0 0 .5em;
  }

  .tour__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em
  }

  .tour__button {
    text-align: center;
    margin: .5em .5em 0 .5em;
    padding: .5em 1.5em;
    box-shadow: black 0 0 .2em;
    flex-basis: 25%
  }